#set($local_vender = '/resources')
<!-- ace scripts -->
<script src="$local_vender/assets/js/src/elements.scroller.js"></script>
<script src="$local_vender/assets/js/src/elements.colorpicker.js"></script>
<script src="$local_vender/assets/js/src/elements.fileinput.js"></script>
<script src="$local_vender/assets/js/src/elements.typeahead.js"></script>
<script src="$local_vender/assets/js/src/elements.wysiwyg.js"></script>
<script src="$local_vender/assets/js/src/elements.spinner.js"></script>
<script src="$local_vender/assets/js/src/elements.treeview.js"></script>
<script src="$local_vender/assets/js/src/elements.wizard.js"></script>
<script src="$local_vender/assets/js/src/elements.aside.js"></script>
<script src="$local_vender/assets/js/src/ace.js"></script>
<script src="$local_vender/assets/js/src/ace.basics.js"></script>
<script src="$local_vender/assets/js/src/ace.scrolltop.js"></script>
<script src="$local_vender/assets/js/src/ace.ajax-content.js"></script>
<script src="$local_vender/assets/js/src/ace.touch-drag.js"></script>
<script src="$local_vender/assets/js/src/ace.sidebar.js"></script>
<script src="$local_vender/assets/js/src/ace.sidebar-scroll-1.js"></script>
<script src="$local_vender/assets/js/src/ace.submenu-hover.js"></script>
<script src="$local_vender/assets/js/src/ace.widget-box.js"></script>
<script src="$local_vender/assets/js/src/ace.settings.js"></script>
<script src="$local_vender/assets/js/src/ace.settings-rtl.js"></script>
<script src="$local_vender/assets/js/src/ace.settings-skin.js"></script>
<script src="$local_vender/assets/js/src/ace.widget-on-reload.js"></script>
<script src="$local_vender/assets/js/src/ace.searchbox-autocomplete.js"></script>
<script src="$local_vender/components/jquery-ui/jquery-ui.min.js"></script>
<script src="$local_vender/components/jquery-validation/dist/jquery.validate.js"></script>
<script src="$local_vender/plugins/jquery.form.init.js"></script>
<script src="$local_vender/app/common.js"></script>
<script src="$local_vender/app/http.js"></script>
<script src="$local_vender/app/app.js"></script>
<script src="$local_vender/app/index.js"></script>